/* Horizontal Centering */

 body{
     text-align: center;

 }
.block{
    background: blue;
    color: white;
    width: 150px;
    /* margin: 80px;*/
                          /*sets all margins*/ 
    /*margin: 20px auto;*/  
                          /*20px sets top and bottom, auto sets left and right margins*/
    /* margin-left: auto;
                          /* margin-right: auto; */
}
.inline{
    background: red;
    color: white;
   
}